/resources/public/js/compiled/**
!/resources/public/js/compiled/hello_figwheel.js
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/out_module_2/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
